<%= link_to 'Back', data_sets_path %>
<p id="notice"><%= notice %></p>
<%= render 'full_display', :data_set => @data_set %>
<br />

<h3>Revisions</h3>
<div id="revisions" >
	<% @revisions.each_with_index do |revision,i| %>
		<%= render 'full_display', :data_set => @data_set, :revision => revision, :order => i %>
	<% end %>
</div>
