<div>
	<% right_display = condition.right_field.nil? ? condition.right_value : condition.right_field.name %>
	Data Type: <%= condition.data_type %>: ( <%= condition.left_field.name %> ) <%= condition.comparison %> ( <%= right_display %> )
</div>
