<% uid = "join_#{join.id}" %>
<h3 id="<%= uid %>_header" ><%= join.name %></h3>
<div id="<%= uid %>" style="height:auto;min-height:150px" >
	<%= link_to "Show/Configure Join", join_url(join) %>
</div>
